$widthCell: 25px;

:root {
  --cellWrapCount: 1;

  --themeBg: rgb(30, 30, 30);
  --accentHover: rgb(61, 92, 82);
  --accent: rgb(59, 112, 96);
  --accentSecond: rgb(7, 77, 126);
  --colorText: rgb(255, 251, 245);
  --bgGame: rgb(27, 27, 29);
  --bgBtn: rgb(64, 63, 63);
  --colorWrapCell: rgb(19, 19, 19);
  --colorActiveCell: rgb(255, 251, 245);
  --colorCell: rgb(14, 14, 14);
  --colorHintDone: rgb(92, 92, 92);
  --borderWrap: 1px solid rgb(96, 96, 96);
  --border: 1px solid var(--colorCell);
  --borderBold: 2px solid var(--colorWrapCell);
  --filter: invert(1);

  --btnSaveColor: rgb(234, 75, 94);
  --btnSaveColorHover: rgb(219, 53, 70);
  --colorHoverHint: rgb(233, 95, 95);
  --overlayBg: rgba(32, 32, 32, 0.474);
}

.dark-theme {
  --themeBg: rgb(242, 242, 242);
  --accentHover: rgba(37, 38, 52, 0.84);
  --accent: rgb(12 7 23 / 86%);
  --accentSecond: rgb(4, 93, 113);
  --colorText: rgb(0, 0, 0);
  --bgGame: rgb(255, 255, 255);
  --bgBtn: rgb(255, 255, 255);
  --colorWrapCell: rgb(49, 49, 51);
  --colorActiveCell: rgb(49, 49, 51);
  --colorCell: rgb(204, 209, 217);
  --colorHintDone: rgb(204, 209, 217);
  --borderWrap: 1px solid var(--colorCell);
  --border: 1px solid var(--colorCell);
  --borderBold: 2px solid var(--colorWrapCell);
  --filter: invert(0);
}

@mixin deleteHover() {
  @media (hover: none) and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin borderCellHint {
  border: var(--borderBold);

  .hints {
    display: flex;
    justify-content: flex-end;
    @content;

    & > * {
      width: $widthCell;
      height: $widthCell;
      border: var(--border);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: var(--colorHoverHint);
      }

      @include deleteHover() {
        color: var(--colorHintDone);
      }
    }
  }
}
